:root {
    font-size: 20px;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #d4d4d8;
    color: #262626;
}

button {
    appearance: none;
    border: 0;
}

/* Header */

header > h1 {
    margin: 0;
}

header {
    width: max(400px, 30vw);

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 2rem 0;

    background-color: #e4e4e7;
    border-radius: 30px;

    /* overflow: hidden; */
}

header > button {
    appearance: none;

    height: 2rem;

    margin: 0.5rem;

    border: 0;
    border-radius: 6px;
    background-color: inherit;
    color: #262626;

    transition: all 0.15s ease-in-out;
}

#sign-in {
    padding: 10px;
    
    border-radius: 30px;
    font-weight: bold;
}

#theme-switcher {
    display: grid;
    place-items: center;
    
    width: 2rem;
    padding: 3px;
    
    border-radius: 50%;
}

#theme-switcher > svg {
    height: 100%;
    width: auto;
    fill: #262626;
}

button:hover {
    background-color: #09090b;
    color: #e4e4e7;
}

#theme-switcher:hover > svg {
    fill: #e4e4e7;
}

/* Main */

main {
    width: max(400px, 60vw);

    margin: 0 0 2rem 0;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#add-book {
    width: 3rem;

    margin: 0 0 2rem 0;
    
    font-size: 1rem;
    font-weight: bold;

    border: 0;
    border-radius: 10px;
    background-color: #e4e4e7;
    color: #09090b;

    transition: all 0.15s ease-in-out;
}

#add-book:hover {
    background-color: #09090b;
    color: #e4e4e7;
}

.collection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    gap: 1rem;

    overflow: auto;
}

/* Card */

.card {
    display: flex;
    flex-direction: column;

    padding: 20px 5px 5px 5px;

    border: 1px solid black;
    border-radius: 15px;
    background-color: #e4e4e7;
}

.card > p, .card > h2 {
    align-self: center;
    
    margin: 0;
    padding: 0;
}

.card > h2 {
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    gap: 5px;

    margin-top: auto;
}

.buttons > button {
    flex: 1;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
}

/* .buttons svg {
    height: 1.5rem;
    width: auto;
    fill: #e4e4e7;
    transition: all 0.1s ease-in-out;
} */

.buttons img {
    height: 1.5rem;
    width: auto;
    filter: invert(100%) sepia(49%) saturate(327%) hue-rotate(180deg) brightness(99%) contrast(82%);
    transition: all 0.1s ease-in-out;
}

#edit {
    background-color: #b91c1c;
}

#delete {
    background-color: #1d4ed8;
}

#edit:hover {
    background-color: #991b1b;
}

#delete:hover {
    background-color: #1e40af;
}

#edit:hover > img {
    filter: invert(96%) sepia(8%) saturate(83%) hue-rotate(201deg) brightness(90%) contrast(88%);
}

#delete:hover > img {
    filter: invert(96%) sepia(8%) saturate(83%) hue-rotate(201deg) brightness(90%) contrast(88%);
}

.card span {
    padding: 2px 5px;

    border-radius: 3px;

    font-size: 0.8rem;
    color: #e4e4e7;
}

#unread {
    background-color: #7f1d1d;
}

#reading {
    background-color: #c2410c;
}

#read {
    background-color: #166534; 
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    gap: 4px;

    margin-top: auto;

    /* overflow: hidden; */
}

footer > svg {
    height: 1.5rem;
    width: auto;
    transition: scale 0.2s ease-in-out;
}

footer > svg:hover {
    animation: spin 0.4s ease-in-out forwards;
    scale: 1.1;
}

/* Animation */

@keyframes spin {
    100% {
        rotate: 360deg;
    }
}